.order-details-container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
}

.order-details-billing-container {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
  border: 1px solid rgba(0, 0, 0, 0.317);
    background-color: rgba(0, 0, 0, 0.183);

}

.order-details-heading {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.533);
}

.order-details-item-link:hover {
  cursor: pointer;
  color: lightgray;
  transition: 0.2s;
}

