@import url('https://fonts.cdnfonts.com/css/sf-intermosaic');

* {
  font-family: 'SF Intermosaic', sans-serif;
}

#root {
  background-color: #282c34;
  color: white;
  height: 100vh;
}

html {
  background-color: #282c34;
}

.App {
  text-align: center;
}

button {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.585);
}

.btn-close {
  box-shadow: none !important;
}

.modal-content {
  border-radius: 0px !important;
}
