.home-page-container {
    height: 100vh;
}

.home-heading {
    margin-top: 100px;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.533);
}

.pokeball-home-icon {
    width: 115px;
    height: 80px;
    margin-top: 100px;
}

.home-welcome-display-container {
    
}
