.profile-heading {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.533);
  line-height: 20px;
  margin-bottom: 30px;
}

.profile-details {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
    border: 3px solid rgba(0, 0, 0, 0.317);
}

.profile-image {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.621);
    border: 2px solid rgba(0, 0, 0, 0.317);
}