.carousel-indicators [data-bs-target] {
  box-shadow: none !important;
}

.item-details-left-panel {
  border: 1px solid rgba(0, 0, 0, 0.317);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
}

/* .item-details-img {
    border: 3px solid rgba(0, 0, 0, 0.297);
  background-color: #282c34;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.585);
} */

.item-heading {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.533);
}

.item-details-description {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
  border: 1px solid rgba(0, 0, 0, 0.317);
  background-color: rgba(0, 0, 0, 0.183);
}
