.review-card {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.585);
  border: solid rgba(0, 0, 0, 0.299) 1px;
}

.profile-review-card {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.621);
  border: 3px solid rgba(0, 0, 0, 0.317);
}
